a:link {
    color: #00b146;
}
/* visited link */
a:visited {
	color: #00b146;
}
/* mouse over link */
a:hover {
	color: #008631;
}
/* selected link */
a:active {
	color: #00b146;
}

.btn-primary {
	background-color: #00b146 !important;
	border-color: #00b146 !important;
}

a.btn-primary:link {
    color: #fff;
}

/* visited link */
a.btn-primary:visited {
	color: #fff;
}

/* mouse over link */
a.btn-primary:hover {
	color: #008631;
}

/* selected link */
a.btn-primary:active {
	color: #fff;
}




.bg-secondary {
    background-color: #000 !important;
}

.intro-header.header-img .heading .subheading
{   
    font-size: 12px !important;
}

.intro-header.header-img .heading h1{
    font-size: 26px !important;
}


